/* @FONT-FACES */
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(./assets/RobotoCondensed.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



body{
	font:15px 'Roboto Condensed',sans-serif;
	background-color:#222;
	color:#fff;
	padding-top:64px;

	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}



header{
	z-index:2000;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#94f400;
	background-color:rgba(148,244,0,0.9);
	backdrop-filter: blur(2px);
}
#wrapper-header{
	box-sizing:border-box;
	margin:0 auto;
	padding: 8px;
	color:black;
	display:flex;
	justify-content:space-between;
	align-items:center;
	max-width: 960px;
	position:relative;
}
header img{
	display:inline-block;
	height:32px;
	vertical-align:middle;
	margin-right:8px;
}
header h1{
	margin:0;
	padding:0;
	font-weight:normal;
	font-size:22px;
	display:inline-block;
	vertical-align:middle;
}
#btn-filter{
	box-sizing:border-box;
	width: 32px;
	height: 32px;
	outline:none;
	padding:6px;
	border-radius:3px;
	margin-right:8px;
	border:none;
	background-color:transparent;
}
#btn-filter:hover{
	background-color:#76c400;
	cursor:pointer
}




#sound-buttons{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap:16px;
	max-width: 960px;
	margin: 0 auto;
	justify-items: center;
}

.button-container{
	text-align:center;
	width: 110px;
}
.button-container>button{
	display:inline-block;
	background-image: url('assets/buttons.png');
	background-size: 200% 1100%;
	width:75px;
	height:75px;
	outline:none;
	border:0;
	background-color:transparent;
	margin:0;
	padding:0;
}


.button-container>button:disabled{opacity:.25}

.button-container.orange>button{background-position: 0px -75px}
.button-container.yellow>button{background-position: 0px -150px}
.button-container.lime>button{background-position: 0px -225px}
.button-container.green>button{background-position: 0px -300px}
.button-container.aqua>button{background-position: 0px -375px}
.button-container.blue>button{background-position: 0px -450px}
.button-container.purple>button{background-position: 0px -525px}
.button-container.pink>button{background-position: 0px -600px}
.button-container.white>button{background-position: 0px -675px}
.button-container.black>button{background-position: 0px -750px}

.button-container.pushed>button{background-position-x: -75px}




.button-container>button:not(:disabled):hover{
	cursor:pointer;
}
.button-container>div{
	font-size: 13px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:100%;
}











#overlay{
	background-color: rgba(0,0,0,.5);
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	z-index:1000;
	transition:visibility 0s .35s, opacity .35s;
	visibility:hidden;
	opacity:0;
}
body.show-menu #overlay{
	transition-delay:0s; /* transition-delay fixes fade-in/fade-out in some browsers */
	visibility:visible;
	opacity:1;
}

#menu{
	overflow-y:auto;
	font-size: 100%;
	background-color:#94f400;
	position:absolute;
	right:16px;
	width: 240px;
	box-sizing:border-box;
	padding: 12px;
	border-radius: 3px;
	z-index:1001;
	color:black;
	box-shadow:rgba(0,0,0,.8) 0 0 50px;
	
	transition:visibility 0s .35s, top .35s, opacity .35s;
	visibility:hidden;
	top:56px;
	opacity:0;
	overflow-y:visible;
}
#menu:before{
	display:inline-block;
	content:"";
	position:absolute;
	z-index:90000;
	top:-6px;
	right:8px;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #94f400;
}

body.show-menu #menu{
	transition-delay:0s; /* transition-delay fixes fade-in/fade-out in some browsers */
	visibility:visible;
	top:64px;
	opacity:1;
}

#input-search{
	font-family:inherit;
	font-size:inherit;
	background-color:#bffd44;
	border:none;
	padding: 4px 10px 4px 32px;
	border-radius:20px;
	box-sizing:border-box;
	width:100%;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZD0iTTEwLjY4IDExLjc0YTYgNiAwIDAgMS03LjkyLTguOTggNiA2IDAgMCAxIDguOTggNy45MmwzLjA0IDMuMDRhLjc1Ljc1IDAgMCAxLS4zMyAxLjI3Ljc1Ljc1IDAgMCAxLS43My0uMjFaTTExLjUgN2E0LjUgNC41IDAgMSAwLTkgMCA0LjUgNC41IDAgMCAwIDkgMFoiLz48L3N2Zz4=');
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: left 10px center;
	outline:none;
}
#input-search:focus{
	background-color:#fff;
}

#categories{
	list-style:none;
	padding:0;
	margin:8px 0 0;
}
#categories>li>label{
	display:block;
	padding: 4px 4px;
	margin-left:-4px;
	margin-right:-4px;
	border-radius:4px;
}
#categories>li>label:hover{cursor:pointer}
#categories>li>label:has(input[type=radio]:checked){
	background-color:#8ce800;
	
}


#categories input[type=radio]{
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	width: 18px;
	height: 18px;
	background-color:transparent;
	border-radius:20px;
	display:inline-block;
	vertical-align:middle;
	position:relative;
	border: 2px solid #253d00;
	margin:0 4px 0 0;
	outline:none;

	background-image:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggc3Ryb2tlPSIjOGNlODAwIiBzdHJva2Utd2lkdGg9IjMuMiIgZmlsbD0ibm9uZSIgZD0iTSAxLjE5LDcuMTAgNi4wNywxMi4wNiAxNC44OCwzLjMyIi8+PC9zdmc+');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:0px;
}
#categories input[type=radio]:hover:not(:checked){
	cursor:pointer;
	background-color:#66a800;
}
#categories input[type=radio]:hover:checked{
	border-color:#000;
}

#categories input[type=radio]:checked{
	border-color:#000;
	background-color:#000;
	background-size:10px;
}










footer{
	text-align:center;
	font-size: 90%;
	border-top: 1px solid #5e9509;
	color:#5e9509;
	padding: 10px;
	margin: 20px auto 0;
	width: 70%;
}
#link-github svg{height:16px; vertical-align:middle}

footer a{
	display:inline-block;
	color:black;
	text-decoration:none;
	padding: 4px 8px;
	border:1px solid black;
	margin-bottom:8px;
	border-radius:3px;
}
footer a:hover{
	color:white;
	background-color:black;
}



/* responsive */
@media only screen and (max-width:960px){
	#sound-buttons{
		grid-template-columns: repeat(4, 1fr);
	}
}
@media only screen and (max-width:480px){
	body.show-menu{
		overflow-y:hidden;
	}
	#sound-buttons{
		grid-template-columns: repeat(3, 1fr);
		gap: 24px 6px;
	}
}
